
@{
    ViewBag.Title = "Result";
}

<h1 style="text-align: center;; font-size: 1.25em;font-family: Georgia;font-style: italic;"> Вы дали @ViewBag.mark% правильных ответов</h1>
<P style="text-align: center;;font-family: 'Times New Roman' ;font-style: italic;">время начала прохождения теста @ViewBag.timeStart <br /> время окончания @ViewBag.timeEnd</P>
