
<p style="text-align: center;font-size: 1.25em;font-family: Georgia;font-style: italic;"> К сожалению вы заблокированы.
    <a href="mailto:testingandexamonline@gmail.com">
        Задавайте
        вопросы по электронной почте 
    </a>
</p> 